* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body{
    background-color: black;
    position: relative;
} */

.bg-div {
    background-image: url(/img/bg.jpg);
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-div .box{
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: .7;
}

/* navbar css */
/* .black-bg-div {
    width: 100%;
    height: 100%;
} */

.nav-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 2;
    padding: 20px 0px;
}

.b1 {
    background-color: transparent;
    border: 0.8px solid rgb(236, 236, 236);
    color: rgb(255, 240, 240);
    font-size: 17px;
    border-radius: 9px;
    padding: 6px 20PX;
}

.b2 {
    background-color: rgb(212, 7, 7);
    color: rgb(255, 240, 240);
    font-size: 17px;
    border-radius: 9px;
    border: none;
    padding: 8px;
    margin-left: 8PX;
}

.nav-container img {
    width: 140px;
    border-radius: 10px;
}


.hero-text {
    position: absolute;
}

.hero-text-1 {
    color: white;
    font-weight: bolder;
    font-size: 40px;
    padding: 30px 0px;
    text-align: center;
}

.hero-text-2 {
    color: white;
    font-weight: bolder;
    font-size: 24px;
    padding: 20px 0px;
    text-align: center;
}

.hero-text-3 {
    color: white;
    font-weight: bolder;
    font-size: 16px;
    padding: 16px 0px;
    text-align: center;
}

.hero-placeholder {
    padding: 12px;
    padding-right: 180px;
    border: 0.8px solid white;
    background-color: transparent;
    color: aliceblue;
}

::placeholder {
    color: white;
}

.hero-button {
    color: white;
    padding: 12px 30px;
    border-radius: 9px;
    background-color: rgb(232, 8, 8);
}

.containe-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
/* line Section Css */
.line{
    background-image: linear-gradient(rgb(72, 70, 72),rgb(54, 53, 54), rgb(26, 25, 26));
    height: 8px;
    border: 2px solid rgb(43, 42, 43);
}
.purple-section{
    background-image: linear-gradient(rgb(81, 11, 81),rgba(10, 7, 10, 0.747));
}
/* main Secton Css */
.main-sec-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.imge{
    position: relative;
}
.imge img{
    padding: auto;
    height: 300px;
    position: relative;
    z-index: 10;
}
.text{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imge video{
    position: absolute;
    height: 173px;
    left: 35px;
    top: 52px;
}
.black{
    background-color: black;
}
.imge video{
    height: 183px;
    left: 35px;
    top: 52px;
}
/* queston section CSS */
.que-main{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.faqbox{
    background-color: rgb(55, 54, 54);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 50px;
}
.faqbox p{
    padding: 0 60px;  
    font-size: 25px;
    margin: 0px;
}
a i{
    font-size: 30px;
    color: white;
    padding: 0 15px;
    margin: 0px;
}
.faqbox:hover{
    background-color: rgb(105, 102, 102);
    transition: all  1s ease-out;
}
/* footer  CSS */
ul{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    color: white;
}
